HOST_ID=<your validator wallet public key>
PRIVATE_KEY=<private key matching above HOST_ID>
HOST_PUBLIC_P2P_ADDR=<externally resolvable IP or DNS name>
HOST_P2P_PORT=<port for above HOST_PUBLIC_P2P_ADDR>
L1_WS_URL=<ws to l1 node, i.e. geth or infura>
LOG_LEVEL=<logging depth>
POSTGRES_DB_HOST=<your postgres instance if using external> # ONLY EXTERNAL
